header{
    position:absolute;
    z-index: auto;
    display: block;
    border: white;
   
}
body{
    background-color: orange;
}
.nav0 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
.nav1 {
    float:left;
    padding-inline-start: 0px; 
    list-style: none; 
  }
  
.nav1 a {
    display: block;
    color: white;
    text-align: left;
    padding: 15px;
    text-decoration: none;
  }
  
.nav1:hover {
    background-color: #fa6800;
  }
  .help{
    width:auto;
    height: 90px;
    align-self: center;
    padding-left: 70px;
}

/* body */
.p3{

    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
.img0{ 
    display: flex;
    flex:100px;
    padding-left: 330px;
    margin: 0;
} 
.img2{
    padding: 40px;
    margin: 9px;
    width:auto;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    outline-color: #000000;
    
    border-radius: 50%;
}
.p5{
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-decoration: wavy;
    font-weight: bold;
}
/* footer */
/* footer */
.footer0 {
    background-color: #655252;
    color: #966969;
    width: 100%;
    display: contents;
    
    flex-wrap: wrap;
    

}


.footer1 {
    display:contents;
    width: fit-content;
    justify-content: space-between;
    height: 30px;
    background-color: #000000;
 
   
}


.footer2 {
    width: 30%;
    min-width: 200px;
    margin: 0px;
    padding: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #d5842d;
    justify-content: center;
  
}

.footer3 {
    font-size: 1em;
    margin-bottom: 8px;
    color: #ffffff;
    border-bottom: 1px solid #fffbfb;
}


.footer6 {
    list-style: none;
    padding-left: 0;
}

.footer4 {
    margin: 5px 0;
    color: #ffffff;
    font-size: 0.9em;
    cursor: pointer;
}

.footer4:hover {
    color: rgb(0, 0, 0);
   
}
footer{
    position:absolute;
    z-index: auto;
    display: block;
    border: white;
    left: 0;
    right: 0;
}
